.banner {
    min-width: 100%;
    max-width: 100%;
    border-radius: 10px;
    position: relative;
    margin-bottom: 22px;
    @media screen and (min-width: 991.99999px) {
        margin-bottom: 43px;
    }
    img {
        width: 100%;
        min-height: 110px;
        filter:brightness(0.6);
        border-radius: 10px;
        @media screen and (min-width: 991.99999px) {
            min-height: 223px;
        }
    }
    h1 {
        position: absolute;
        top: calc(50% - 30px);
        left: 0;
        padding-inline: 15px;
        font-weight: 500;
        font-size: 24px;
        color: #fff;
        max-width: 220px;
        margin: 0;
        @media screen and (min-width: 991.99999px) {
            font-size: 48px;
            width: 100%;
            text-align: center;
            max-width: 90%;
            padding-left: 5%;
            padding-right: 5%;
            br {
                display: none;
            }
        }
    }
}