 .slider {
    position: relative;
    .slide {
        min-height: 255px;
        border-radius: 10px;
        background-repeat: no-repeat!important;
        background-position: center!important;
        background-size: cover!important;
        @media screen and (min-width: 991.99999px){
            min-height: 415px;
            border-radius: 25px;
        }
    }
    .slider-button-next,
    .slider-button-prev {
        position: absolute;
        top: calc(50% - 10px);
        background-image: url('./arrow.svg');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
        height: 20px;
        width: 12px;
        &:hover {
            cursor: pointer;
        }
        @media screen and (min-width: 991.99999px){
            height: 80px;
            width: 47px;
            top: calc(50% - 40px);
        }
    }
    .slider-button-next {
        right: 6px;
        @media screen and (min-width: 991.99999px){
            right: 23px;
        }
    }
    .slider-button-prev {
        left: 6px;
        transform: rotate(180deg);
        @media screen and (min-width: 991.99999px){
            left: 23px;
        }
    }

    .slider-pagination {
        display: none;
        position: absolute;
        bottom: 25px;
        z-index: 10;
        text-align: center;
        width: 100%;
        color: white;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        @media screen and (min-width: 991.99999px){
            display: block;
        }
    }
}