#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    @media screen and (min-width: 991.9999px) {
        margin-bottom: 63px;
    }
     .logo {
        max-height: 47px;
        width: fit-content;
        @media screen and (min-width: 991.9999px) {
            max-height: 68px;
        }
    }
    .links a {
        text-decoration: none;
        text-transform: uppercase;
        color: #FF6060;
        font-weight: 500;
        font-size: 12px;
        @media screen and (min-width: 991.9999px) {
            font-size: 24px;
            text-transform: none;
        }
        &:hover {
            text-decoration: underline;
        }
        &:first-child {
            margin-right: 10px;
            @media screen and (min-width: 991.9999px) {
                margin-right: 57px;
            }
        }
    }
}