#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#header .logo {
    max-height: 47px;
    width: fit-content;
}

#header .links a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FF6060;
    font-weight: 500;
    font-size: 12px;
}

#header .links a:hover {
    text-decoration: underline;
}

#header .links a:first-child {
    margin-right: 10px;
}