.about-page {
    flex-grow: 1;
    margin-bottom: 150px;
    .mobile-banner {
        @media screen and (min-width: 991.9999px) {
            display: none;
        }
    }
    .desktop-banner {
        display: none;
        @media screen and (min-width: 991.9999px) {
            display: block;
        }
    }
    .dropdowns-wrapper {
        @media screen and (min-width: 991.99999px) {
            max-width: 90%;
            margin: auto;
        }
    }
}