.location-page {
    flex-grow: 1;
    .desktop-title-wrapper {
        @media screen and (min-width: 991.99999px){
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 30px;
        }
    }
    h1 {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #FF6060;
        margin-top: 8px;
        margin-bottom: 0px;
        @media screen and (min-width: 991.99999px){
            font-size: 36px;
            line-height: 51px;
            margin-top: 0px;
        }
    }
    h2 {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #FF6060;
        margin-top: 5px;
        @media screen and (min-width: 991.99999px){
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 15px;
        }
    }
}