.thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
}

.thumbnail .cover {
    min-height: 255px;
    max-height: 255px;
    min-width: 100%;
    max-width: 100%;
    border-radius: 10px;
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}

.thumbnail .title {
    padding-bottom: 15px;
    padding-inline: 20px;
}